@import "tailwindcss";

@layer base {
  .font-montreal {
    font-family: var(--font-montreal), sans-serif;
  }
}
.yellow {
  color: rgb(248, 254, 35);
}
.bg-yellow {
  background: rgb(248, 254, 35);
}

.gradient {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
.cream {
  background: #f9f5ec;
}
.purple {
  color: #7e72ff;
}
.bg-purple {
  background-color: #7e72ff;
}
